
@{
    ViewData["Title"] = "Default";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Intelligent Exhibits</h2>

<p>For further information visit <a href="http://www.blackradley.com/dinmore/">docs</a></p>
