@{
    ViewData["Title"] = "Home";
}


<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-12">
        <p>Use this application to administer the various data sets for the Black Radley Dinmore project</p>
    </div>
</div>
